<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main class="container">
      <figure class="logoDH">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
      <section class="contenido">
        <h1 class="tituloPrincipal"><%= title %></h1>
        <h2 class="subtitulo">Bienvenido </h2>
        <h2><a  href="/movies">Listado de Películas</a></h2>
      </section>
      <br><br>
      <section class="informacion">
        <p>Hay películas que nos llenan de motivación, pero son algunas frases las que se quedan con nosotros para siempre. "Sólo hay una persona que puede decidir lo que voy a hacer, y soy yo mismo". "Qué importante es poder contar en la vida con buenos amigos…" ... La vida es demasiado corta para estar siempre cabreado”.</p>
        <p>Una película es una serie de imágenes fijas que, cuando se proyectan en una pantalla de forma consecutiva en rápida sucesión, crean la ilusión óptica de imágenes en movimiento.</p>
        <p>La capacidad de adaptación de muchos medios fí­sicos al ámbito digital buscando ahondar en un público universal como el que sólo la red puede proveer, además del gusto de la gente por participar con su opinión a fortalecer cada espacio de entretenimiento audiovisual, ha permitido crear grandes y útiles portales.</p>
        <p>curiosidades sobre el mundo del cine que te dejarán sin palabras <br>  Jim Carrey es abuelo <br>
          Parece extraño que nuestro actor favorito de Tonto y Retonto y Ace Venturaya tenga un nieto, pero es verdad. Es lógico si consideramos que tiene 52 años y una hija adulta, así que no te sorprendas tanto. <br>          
           Poca participación, mucho reconocimiento <br>
          Anthony Hopkins ganó el Oscar a Mejor Actor por El Silencio de los Inocentes, aunque solo apareció en pantalla 16 minutos. <br>          
           El Proyecto de la bruja de Blair recaudó mucho dinero <br>
          Hacer esta película solo costó 22 mil dólares, pero recaudó mundialmente 248 millones de dólares.          
           </p>
      </section>
    </main>
  </body>
</html>
